body{
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
}

.site-header-ab{
    background-image: url(img/volcano3.jpg);
    background-position: center center;
    background-size: cover;
    height: 50vh;
    min-height: 30rem;
}

.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

.navigation a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 2rem;
}

.navigation a:hover{
    color: #ff3300;
}

.navigation a:last-of-type{
    margin: 0px;
}

.header-content{
    display: flex;
    height: 80%;
    justify-content: space-between;
    flex-direction: column;
}

.content{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.logo{
    width: 100px;
    font-size: 3rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid #e1e413;
}

h1{
    font-size: 3rem;
    color: white;
}

.content-about{
    height: 60rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

.media{
    width: 20rem;;
}